.mainDetails{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #252525; */
    

}
.subImg5{
    height: 280px;
    width: 380px;

}
.leftSection{
    width: 380px;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
}
.rightDetails{
    /* border: 2px solid green;  */
    width: 800px;
    margin-left: 10px ;
}
.name2{
    font-size: 24pt;
    font-weight: 600;
    color: white;
    margin-left: 250px;
    width: 660px;
}
.Detail{
    margin-top:-90px ;
}
.rating2{
    text-align: left;
    font-size: 15pt;
    font-weight: 600;
    color: rgb(209, 176, 8);
    margin-top: -10px; 
    margin-left: 250px;
    width: 660px;
}
.studentsthis{
    color: white;
    margin-top: -16px;
    margin-left: 250px;
    width: 660px;
}
.authorthis{
    color: white;
    margin-left: 250px;
    width: 660px;
}
.price2{
    font-size: 20pt;
    font-weight: 800;
    color:  #252525;
    margin-left: 30px;
}
.DetailsinBox{
    background-color: #252525;
    width: 1600px;
    margin-left: -250px;
    padding-top: 40px;padding-bottom: 30px;
}

.desc{
    border:1px solid gray;
    padding: 10px 20px 10px 20px;
    color: #252525;
    margin-top: 30px;
    font-size: large;
}

.Headingthis{
    color: white;
    font-size: 16pt;
    margin-left: 250px;
    width: 660px;
}

 .bestSellerButton2{
    border:none;
    background-color: rgb(136, 2, 136);
    color: #f7f9fa;
    padding: 15px 50px;
    font-weight: 700;
    margin-left: 60px;
    margin-top: 13px;
}

.foot{
    margin-top: 970px;
}

 .bestSellerButton2:hover{
    background-color: rgb(88, 2, 81);
}
.navbar-container2{
    background-color: black;
    height: 50px;
    position: fixed;
    width: 1700px;
    top: 0;
}
.others1{
    position: relative;
    left: 480px;
}

.popup-message1{
    background-color: black;
    color:aliceblue;
    font-size: 18pt;
    width: 220px;
    border-radius: 5px;
    /* margin: -509px 0px 0px 0px; */
    position: relative;
    top:0px;
    left:430px;
    /* padding: auto; */
    padding:0px 30px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 270px) and (max-width: 570px) {
   
    .subImg2{
        /* border: 2px solid blueviolet;  */
        width: 300px;
    }
    .Detail{
        margin-top:90px ;
    }
    
    
    .buy{
        display:none;
    }
    .others1{
        position: relative;
        left: 30px;
        top: 80px;
    }
    .popup-message1{
        background-color: black;
        color:aliceblue;
        /* color:rgb(36, 57, 36); */
        font-size: 18pt;
        width: 220px;
        border-radius: 5px;
        /* margin: -509px 0px 0px 0px; */
        position: relative;
        top:0px;
        left:30px;
        /* padding: auto; */
        padding:0px 30px;
        margin-bottom: 30px;
    }
    .DetailsinBox{
        background-color: #252525;
        width: 600px;
        margin-top: -80px;
        margin-left: -200px;
        padding-top: 40px;padding-bottom: 30px;
    }
    .DetailsinBox .name2{
        width:350px;
       font-size: 18pt;
       margin-left: 230px;
    }
    .DetailsinBox .Headingthis{
        width:350px;
        margin-left: 230px;
    }
    .DetailsinBox .rating2{
        width:350px;
        margin-left: 230px;
    }
    .studentsthis{
        width:350px;
        margin-left: 230px;
    }
    .DetailsinBox .authorthis{
        width:350px;
        margin-left: 230px;
    }
    .desc{
        width: 300px;
        margin-left: 25px;
    }
    .subImg5{
        width: 320px;
        margin-left: -15px;
    }
     .bestSellerButton2{
        border:none;
        background-color: rgb(136, 2, 136);
        color: #f7f9fa;
        padding: 15px 50px;
        font-weight: 700;
        margin-left: 40px;
        margin-top: 13px;
    }
  
}

@media only screen and (min-width: 750px) and (max-width: 1040px) {
    .mainDetails{
        margin-top: 180px;
    } 
    .DetailsinBox{
        width:1200px;
        margin-left: 10px;
        margin-top: -50px;
       
    }

    .DetailsinBox .name2{
        width:650px;
       font-size: 18pt;
       margin-left: 130px;
    }
    .DetailsinBox .Headingthis{
        width:650px;
        margin-left: 130px;
    }
    .DetailsinBox .rating2{
        width:350px;
        margin-left: 130px;
    }
    .studentsthis{
        width:350px;
        margin-left: 130px;
    }
    .DetailsinBox .authorthis{
        width:350px;
        margin-left: 130px;
    }
    .desc{
        width: 650px;
        margin-left: 50px;
    }
    .subImg5{
        width: 650px;
        margin-left:-155px;
    }
     .bestSellerButton2{
        border:none;
        background-color: rgb(136, 2, 136);
        color: #f7f9fa;
        padding: 25px 50px;
        font-weight: 700;
        margin-left: -90px;
        margin-top: 13px;
        width: 500px;
    }
}
